.banner{
    width: 1200px;
    margin: 0 auto;
    &-popup{
        display: none;
        // transform: translateY(120%);
        margin: 0 auto;
        flex-direction: column;
        position: relative;
        // top: 60px;
        bottom: 8px;
        width: 355px;
        height: 400px;
        right: 20px;
        border: 1px solid #e6e6dd;
        &-product{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            border-radius: 5px;
        }
        &-head{
            width: 100%;
            background-color: #f1f1f1;
        }
    }
}